# RepoLens Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default: all files require review from the maintainer
* @TheMorpheus407
